.nav_header {
  height: 550px;
  width: 100%;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
